.welcome  {
  background: 	#38479A;
  border: 2px solid white;
  text-align: center;
  border-radius: 5px;
  margin: 2% 14%;
  padding: 2%;
  color: white;
  opacity: .8;

}

body {
  background-image: url('../Images/pink-leaf-background.jpg');
  /* background-size: 100px; */
  background-repeat: repeat;
  font-family: 'Indie Flower', cursive, 'sans-serif';
}

h1 {
  font-family: 'Indie Flower', cursive, 'sans-serif';
  font-size: 60px;
  text-align: center;
  padding: 1% 0 0 0;
  border: 2px solid white;
  background-color: #38479A;
  color: white;
  border-radius: 5px;
  margin: 2% 14%;
  opacity: .9;
  /* padding: 2%; */
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: justify;
  margin: 0 20px;
  font-size: 30px;
}

p {
  text-align: justify;
  margin: 0 20px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  margin: 5% 25%;
}

.box {
  flex: auto;
  flex-basis: 13%;
  background-color: 	#E9BFD5;
  opacity: 0.9;
  height: 80px;
  border: 2px solid white;
  text-align: center;
  border-radius: 5px;
  margin: .2%;
}

.winner-p1{
  flex-flow: column;
  align-items: center;
  display: none;
  text-align: center;
}

.winner-p2{
  flex-flow: column;
  align-items: center;
  display: none;
  text-align: center;
}

.play-again {
  display: flex;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 10px;
  text-decoration: none;
  background: #000000;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  outline: 0;
  opacity: 1;
  transition: 0.3s;
}

.play-again:hover {opacity: 0.6}

#P1-cocktail {
  width: 15%;
  height: auto;
  flex: auto;
  text-align: center;
  border-radius: 10px;
}

#P2-cocktail {
  width: 15%;
  height: auto;
  flex: auto;
  text-align: center;
  border-radius: 10px;
}

.red {
  background-image: url('../Images/espresso-martini.png');
  background-size: contain;
  background-repeat: no-repeat, repeat;
  animation-name: pulse;
  animation-duration: .5s;
}

.yellow {
  background-image: url('../Images/cocktail-pink-with-lime.png');
  background-size: contain;
  background-repeat: no-repeat, repeat;
  animation-name: pulse;
  animation-duration: .5s;
}

/* ..............ANIMATIONS................... */

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
