.welcome  {
  border: 2px solid black;
  text-align: center;
  margin: 2% 14%;
  /* display: none; */
}

body {
  background: #ED4264;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Indie Flower', cursive, 'sans-serif';
}

h1 {
  font-family: 'Indie Flower', cursive, 'sans-serif';
  font-size: 60px;
  text-align: center;
  margin: 4% 0 0 0;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: justify;
  margin: 0 20px;
  font-size: 30px;
}

p {
  text-align: justify;
  margin: 0 20px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  margin: 5% 14%;
  /* display: none; */
}

.box {
  flex: auto;
  flex-basis: 13%;
  background-color: white;
  height: 100px;
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
  margin: .2%;
}

.winner-p1{
  flex-flow: column;
  align-items: center;
  display: none;
  text-align: center;
}

.winner-p2{
  flex-flow: column;
  align-items: center;
  display: none;
  text-align: center;
}

.play-again {
  display: flex;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-top: 10px;
    text-decoration: none;
    background: #000000;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;

}

#P1-cocktail {
  width: 15%;
  height: auto;
  flex: auto;
  text-align: center;
  border-radius: 10px;
}

#P2-cocktail {
  width: 15%;
  height: auto;
  flex: auto;
  text-align: center;
  border-radius: 10px;
}

.red {
  background-image: url('../Images/CocktailP1.png');
  background-size: contain;
  background-repeat: no-repeat, repeat;
}

.yellow {
  background-image: url('../Images/CocktailP2.jpg');
  background-size: contain;
  background-repeat: no-repeat, repeat;
}
